.speech {
    color: black;
     font-size: small;
     font-family: 'Courier New', Courier, monospace;
   }

.direction {
    color: black;
    font-size: medium;
    background-color: aquamarine;
    
     font-family: 'Courier New', Courier, monospace;
   }
   .direction:hover {
     color: red;
     background-color: antiquewhite;
   }

.name {
    color: black;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;
   }

.SHE {
       color:black;
       font-size: medium;
       font-family: 'Courier New', Courier, monospace;
    
   }

.HE{
       color:black;
       font-size: medium;
       font-family: 'Courier New', Courier, monospace;
   }
   .TABLE th, td {
    color: black;
     font-size: medium;
     text-align: center;
     background-color: lightgrey;
     width: 100px;
     border: 3px solid green;
     padding:10px;
     margin: 10px;
     font-family: 'Courier New', Courier, monospace;
    }
    .TABLE th:hover {
        background-color: aqua;
    }
    .TABLE th {
    background-color: greenyellow;
    }
    .TABLE td {
    background-color:cornsilk ;
    }